<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/sidebar-admin.css">
    <link rel="stylesheet" href="/css/colors.css">


    <link rel="stylesheet" href="/css/reserve.css">


    <title>{{title}}</title>
    <script defer src="/js/reservation.js"></script>
</head>

{{#if isStudent}}
{{!-- student sidebar --}}
<aside class="Sidebar">
    <div class="image-container">
      <img src="assets/jeongwoo.jpg" alt="userpfp" id="userpfp">
      <br>
      <br>
    </div>
  
    <ul class="sidebar-links">
      <li>
        <br><br>
        <a href="/home">Reserve</a>
      </li>
      <li>
        <br><br>
        <a href="/reserve">My Reservations</a>
      </li>
      <li>
        <br><br>
        <a href="/profile" id="profile">My Profile</a>
      </li>
      <li>
        <br><br><br>
        <a href="/" id="logout">Logout</a>
      </li>
    </ul>
  </aside>

{{else}}
{{!-- admin's sidebar --}}
  <aside class="sidebar-admin">
    <div class="image-container">
        <img src="assets/jeongwoo.jpg" alt="userpfp" id="userpfp"> <br> <br>
    </div>

    <ul class="sidebar-links">
        <li> <br><br>
            <a href="/home">Reserve</a>
        </li>
        <li> <br><br>
            <a href="/reserve">View Reservations</a>
        </li>
        <li><br><br>
            <a href="/profile" id="profile">My Profile</a>
        </li>
        <li>
        <br><br><br>
        <a href="/" id="logout">Logout</a>
      </li>
    </ul>
</aside>
{{/if}}


<body>
    <div class="notSidebar">

        <div class="greeting">
            {{!-- change the handlebar to the actual chosen lab --}}
            <h1 id="lab-name"> Laboratory <span id="lab_id">{{lab.name}}</span></h1>
            <h2 id="usernameid"> Hello, {{username}} </h2>
        </div>

        <div class="instruction"> <h3>Please select your preferred schedule and seat</h3></div>

        
        <div class="elements-container">

            <div class="left-panel">
            
            {{!-- appears only when the user's role is admin --}}
            {{#if isAdmin}}
            <div class="name-box">
              <label for="reserveFor">Reserve for:</label>
              <input type="text" id="reserveFor" name="reserveForUser">  
            </div>
            {{/if}}
            
                <form class="reserve-form" action="/reservation/{{lab.name}}" method="post">
                    <div class="date-time">
                        <label for="datesLabel">Choose a date: </label>
                        <select id="dates" name="dates">
                            {{#if date}}
                                <option value="{{ date }}" selected>{{ date }}</option>
                            {{else}}
                                {{#each dateOptions}}
                                    <option value="{{ this }}">{{ this }}</option>
                                {{/each}}
                            {{/if}}
                        </select>
                        <br>
                        <label for="start_times">Choose a start time: </label>
                        <select id="start_time" name="start_time">
                            {{#if start_time}}
                                <option value="{{ start_time }}" selected>{{ start_time }}</option>
                            {{else}}
                                <option value="00:00">00:00</option> <!-- Default value -->
                                <!-- Add other options as needed -->
                            {{/if}}
                        </select>
                        <br>
                        <label for="end_times">Choose an end time: </label>
                        <select id="end_time" name="end_time">
                            {{#if end_time}}
                                <option value="{{ end_time }}" selected>{{ end_time }}</option>
                            {{else}}
                                <option value="00:00">00:00</option> <!-- Default value -->
                                <!-- Add other options as needed -->
                            {{/if}}
                        </select>

                        <div class="anon-checkbox">
                            <input type="checkbox" id="anon-checkbox" name="anon_checkbox" value="true">
                            <label for="anon_checkbox">Reserve Anonymously</label>   
                        </div>

                        <input type="submit" name="submit-button" id="check_availability" value="Check Availability"/> 

                        <button id="reserve-button" class="reserve-button" type="button">Reserve</button>
                    </div>
                </form>
            </div>
           
            <div class="right-panel">

                <div class="legend">
                    <span class="label">Legend</span>
                    <div class="legend-icons">
                        <div class="available">
                            <img src="/assets/available.png" alt="Available Seat"> 
                            <span class="label">Available</span>
                        </div>

                        <div class="selected">
                            <img src="/assets/selected.png" alt="Selected Seat">
                            <span class="label">Selected</span>
                        </div>

                        <div class="taken">
                            <img src="/assets/taken.png" alt="Taken Seat">  
                            <span class="label">Taken</span>
                        </div>
                     </div>
                </div>
        <div class="seats-container">
            <div class="container-a">
                <div class="seat-area">
                  {{#each lab.seats}}
                    <div class="seat-container">
                        {{#if (getReservationDate this.reservations ../date ../currentTime)}}
                            <!-- Seat is reserved for the desired date -->
                            <div class="reserved-seat">
                                <img id="{{this.seatNumber}}" class="seat" src="/assets/taken.png" alt="Reserved Seat" onclick="toggleSeatStatus('{{this.seatNumber}}')">
                            </div>
                        {{else}}
                            <!-- Seat is available for the desired date -->
                            <img id="{{this.seatNumber}}" class="seat" src="/assets/available.png" alt="Available Seat" onclick="toggleSeatStatus('{{this.seatNumber}}')">
                        {{/if}}
                    </div>
                {{/each}}
                </div>
            </div>
        </div>

            </div>
            </div> {{!-- end of right panel div --}}
            
        </div> {{!-- end of elements container div --}}
        <div id="confirmationPopup" style="display: none;">
        <h2>{{confirmationMessage}}</h2>
    </div>

    </div>

</body>
</html>