<%- include('header') -%>
<%- include('sidebar') -%>

<link rel="stylesheet" href="css/myreservation.css">

<div class="notSidebar">

    <div class="greeting-profile">
        <h2> Reservations </h2>
    </div>

    <div class="table-container">
        <table class="reservations-table">
            <thead>
                <tr>
                    <th>Lab</th>
                    <th>Seat</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Reservation Name</th>
                </tr>
            </thead>
            <tbody>
                <tbody>
                    <% for (const reservationId in user.reservations) { %>
                        <% const reservation = user.reservations[reservationId]; %>
                        <tr>
                            <td><%= reservation.lab %></td>
                            <td><%= reservation.seat %></td>
                            <td><%= reservation.date %></td>
                            <td><%= reservation.time %> <%= reservation.AMPM %></td>
                            <!-- Calculate End Time based on Start Time and Duration -->
                            <td><%= reservation.end_time %> <%= reservation.end_AMPM %></td>
                            <td><%= reservation.res_name %></td>
                        </tr>
                    <% } %>
                   
                </tbody>
        </table>
    </div>

    <div class="button-container">
        <button onclick="navigateTo('reservation.ejs')" class="button" id="editReservationButton">Edit Reservation</button>
        <button class="button" id="cancelReservationButton">Cancel Reservation</button>
   </div>

       
 </div>


<%- include('footer') -%>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get the table element
        var table = document.getElementById("reservations-table");
        
        // Add click event listener to the table rows
        table.addEventListener("click", function(event) {
            // Remove the 'selected' class from all rows
            var rows = table.querySelectorAll("tr");
            rows.forEach(function(row) {
                row.classList.remove("select");
            });
            
            // Check if the clicked element is a table row
            if (event.target.tagName === "TR") {
                // Add the 'selected' class to the clicked row
                var clickedRow = event.target;
                clickedRow.classList.add("select");
            }
        });
    });
</script>




