<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/sidebar-admin.css">
    <link rel="stylesheet" href="css/colors.css">
    <script src="/js/editingprofile.js"></script>
    <title>{{title}}</title>
</head>

<aside class="Sidebar">
    <div class="image-container">
      <img src="{{user.pictureURL}}" alt="userpfp" id="userpfp">
      <br>
      <br>
    </div>
  
    <ul class="sidebar-links">
      <li>
        <br><br>
        <a href="/home">Reserve</a>
      </li>
      <li>
        <br><br>
        <a href="/reserve">My Reservations</a>
      </li>
      <li>
        <br><br>
        <a href="/profile" id="profile">My Profile</a>
      </li>
      <li>
        <br><br><br>
        <a href="/" id="index">Logout</a>
      </li>
    </ul>
  </aside>

<link rel="stylesheet" href="css/editprofile.css">

<div class="notSidebar">

    <div class="greeting-profile">
        <h2> Edit User Profile </h2>
    </div>

    <div class="info">
        <h3><span class="text">Name: {{ user.name }}</span></h3>
        <h3><span class="text">Description</span></h3>
          <input type="text" id="descriptionInput" name="description" value="{{ user.description }}">
    </div>

    
  
      <div class="image-container-profile">
          <img src="{{ user.pictureURL }}" alt="userpfp" id="userpfp">
      </div>
    
      <div class ="upload-form">
          <input type="text" id ="pictureURLInput" placeholder="Enter new pfp link here"> 
      </div>
    
  
    <div class="profile-buttons">
        <button onclick="navigateTo('/profile')" class="profile-button" id="saveChanges">Save Changes</button>
        <button onclick="navigateTo('/profile')" class="profile-button">Cancel</button>
    </div>

</div>  



<script>
    function navigateTo(url) {
        window.location.href = url;
    }
</script>